<h1><%= @user.username %>'s profile </h1>
<p>Your are logged in as <%= @user.username %></p>
<p> Your email: <%= @user.email %></p>
<br></br>
<p><%= link_to 'Edit', edit_user_path(@user) %></p>
<p><%= link_to "Delete", @user, method: :delete, data: { confirm: "Really?" } %></p>
<p><%= link_to 'Log Out', logout_path(@user) %></p>
<br></br>


<%= form_tag user_path(@user.id), method: "delete" do %>
    <%= submit_tag "Delete #{@user.username}" %>
  <% end %>