
<h1> Today's events</h1>

<h1> Upcoming events</h1>
<ul>
    <% Event.all.future_events.find do |event| %>
        <%= link_to event_path(event) do %>
        <li><%= event.name %> on <%= event.time %> in <%= event.location %></li>
        <%  end %>
    <% end %>
</ul>

<h1> Past events</h1>
<ul>
    <% Event.all.past_events.find do |event| %>
        <%= link_to event_path(event) do %>
        <li><%= event.name %> on <%= event.time %> in <%= event.location %></li>
        <%  end %>
    <% end %>
</ul>

<h1> See all events </h1>
<% @events.each do |event| %>
    <%= link_to event_path(event) do %>
    <p><%= event.name %> on <%= event.time%> in <%= event.location  %> </p>
    <% end %>
<% end %>

<% if logged_in && current_user.admin %>
        <h1><%= link_to "All users", users_path(@user) %></h1>
<% end %>






    
        


