<h1>Upcoming events in Seattle area</h1>

<% @events.each do |event| %>
    <%= link_to event_path(event) do %>
    <p><%= event.name %> on <%= event.time%> in <%= event.location  %> </p>
    <% end %>
<% end %>

<h1> Past events</h1>
<ul>
    <% Event.all.find do |event| %>
        <% if event.time  < Time.now %>
            <%= link_to event_path(event) do %>
            <li><%= event.name %> on <%= event.time %> in <%= event.location %></li>
            <% end %>
        <%  end %>
    <% end %>
</ul>




    
        


