<h1>You are viewing <%= @event.name%> event</h1>
<p>What: <%= @event.name %></p>
<p>When: <%= @event.time %><p>
<p>Where: <%= @event.location %></p>
<p>Details: <%= @event.details %></p>
<p>Further info: <%= @event.url %></p>
<p><% @event.image %></p>
