<h1>You are viewing <%= @event.name%> event</h1>
<p>What: <%= @event.name %></p>
<p>When: <%= display_time(@event) %><p>
<p>Where: <%= @event.location %></p>
<p>Details: <%= @event.details %></p>
<p>Further info: <%= @event.url %></p>
<p><% @event.image %></p>


<% if logged_in && current_user.admin %>
    <p><%= link_to 'Edit', edit_event_path(@event) %> <%= link_to "Delete", @event, method: :delete, data: { confirm: "Really?" } %></p>
<% end %>
<% if logged_in %>

    <% if @rsvp.user_id == current_user.id %>
        <p>Your are going to this event. <%= link_to "Edit your response", edit_event_rsvp_path(@event) %></p>
    <% else %>
        <%= link_to 'RSVP here', new_event_rsvp_path(@rsvp) %>
    <% end %>
<% end %>

<h3>What people say about the event?</h3>
<p><%= link_to 'Read all comments', event_comments_path(@event) %>
<table>
    <% @event.comments.each do |comment|%>
        <th><%= comment.user.username %> says:</th>
        <tr>
            <td> 
                <%= comment.content %>
                <% if logged_in %>
                    <% if comment.user_id == current_user.id || current_user.admin %>
                    <p>
                        <%= link_to "Edit", edit_event_comment_path(@event, comment)%> 

                        <%= link_to "Delete", event_comment_path(@event, comment), method: :delete, data: { confirm: "Are you sure?" } %>
                    </p>
                    <% end %>
                <% end %>
            </td>
         </tr>
    <% end %>
 </table>
<h4><%= flash[:notice] %><h4>
<% if logged_in %>
    <p>Aks question or give advice</p>
        <%= render 'comments/form' %>
 <% else %>
    <p><%= link_to "Log in", login_path %> to comment </p>
<% end %>

