<h1>You are viewing <%= @event.name%> event</h1>
<p>What: <%= @event.name %></p>
<p>When: <%= display_time(@event) %><p>
<p>Where: <%= @event.location %></p>
<p>Details: <%= @event.details %></p>
<p>Further info: <%= @event.url %></p>
<p><% @event.image %></p>


<% if logged_in && current_user.admin %>
    <p><%= link_to 'Edit', edit_event_path(@event) %> <%= link_to "Delete", @event, method: :delete, data: { confirm: "Really?" } %></p>
<% end %>
<% if logged_in %>

    <% if @rsvp%>
        <% if @rsvp.attending %>
            <p>Your are going to this event. <%= link_to "Edit your response", edit_event_rsvp_path(@event, @rsvp) %></p>
        <% else %> 
            <p> You are not attending this event. Change your mind? <%= link_to 'RSVP here', edit_event_rsvp_path(@event, @rsvp) %> </p>
        <% end %>
    <% else %>
        <%= button_to 'RSVP here', new_event_rsvp_path(@event, @rsvp) %>
    <% end %>
<% end %>
<p><%= link_to "See who else is attending", event_rsvps_path(@event, @rsvp) %></p>
<div id="comments">    
    <%= render 'comments/comments'%>
</div>
<%= link_to 'Load comments', event_comments_path(@event), :id => "load_comments" %>


<h4><%= flash[:notice] %><h4>
<% if logged_in %>
        <%= render 'comments/form' %>
 <% else %>
    <p><%= link_to "Log in", login_path %> to comment </p>
<% end %>

