<p>
    <a href="#" class="js-prev" event_id="<%= @event.id %>">Previous Event</a> 
    <a href="#" class="js-next" event_id="<%= @event.id %>">Next Event</a> 
</p>


<h1 class="eventHeader">You are viewing <%= @event.name%> event</h1>
<p class="eventName">What: <%= @event.name %></p>
<p class="eventTime">When: <%= display_time(@event) %><p>
<p class="eventLocation">Where: <%= @event.location %></p>
<p class="eventDetails">Details: <%= @event.details %></p>
<p class="eventLink">Further info: <%= @event.url %></p>
<p class="eventImage"><% @event.image %></p>


<% if logged_in && current_user.admin %>
    <p><%= link_to 'Edit', edit_event_path(@event) %> <%= link_to "Delete", @event, method: :delete, data: { confirm: "Really?" } %></p>
<% end %>
<% if logged_in %>

    <% if @rsvp%>
        <% if @rsvp.attending %>
            <p>Your are going to this event. <%= link_to "Edit your response", edit_event_rsvp_path(@event, @rsvp) %></p>
        <% else %> 
            <p> You are not attending this event. Change your mind? <%= link_to 'RSVP here', edit_event_rsvp_path(@event, @rsvp) %> </p>
        <% end %>
    <% else %>
        <p><%= link_to 'RSVP here', new_event_rsvp_path(@event) %></p>
    <% end %>
<% end %>

<div id="attendees">
    <%= render 'rsvps/rsvps' %>
</div>

<%= link_to "See all attendees", event_rsvps_path(@event), :id => "load_attendees" %>

<div id="comments">    
    <%= render 'comments/comments'%>
</div>

<%= link_to 'Load all comments', event_comments_path(@event), :id => "load_comments" %>


<h4><%= flash[:notice] %><h4>
<% if logged_in %>
        <%= render 'comments/form' %>
 <% else %>
    <p><%= link_to "Log in", login_path %> to comment </p>
<% end %>

