<% if logged_in %>
    <% if @event.attending_users.find do |user| %>
        <% if user == current_user %>
            <p>Your are going to this event. <%= link_to "Edit your response", edit_event_rsvp_path(@event, @rsvp) %></p>
            
            <p><strong> Remember the event details: </strong></p>
            <p>Event name: <%= link_to @event.name, @event %></p>
            <p>Event time: <%= display_time(@event) %></p>
            <p>Event location: <%= @event.location %></p>
            <p> <%=link_to 'Check out all events', events_path %></p>
        <% end %>
    <% end %>
    <% elsif @event.attending_users.find do |user| %> 
        <% if !user == current_user %>
            <p> You are not attending this event. Change your mind? <%= link_to 'RSVP here', edit_event_rsvp_path(@event, @rsvp) %> </p>
        <% end %>
    <% end %>
    <% end %>
<% end %>
