<!DOCTYPE html>
<html>
  <head>
    <title>Seattle Kids Events</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav>
    <h1>Seattle Area Parents' Guide to Events</h1>
      <div>
         <% if current_user %>
            <p>You are signed in as <strong><%= link_to current_user.username, user_path(current_user) %></strong>!</p>
            <%= link_to "Home", root_path %>
            <%= link_to 'Logout', logout_path(current_user), :method => :delete %>
            <%= link_to "Add an Event", new_event_path(@event) %>
         <% else %>
            <%= link_to "Home", root_path %>
            <%= link_to "Login", login_path %> 
            <%= link_to "Signup", new_user_path %>
            <%= link_to('Login with Facebook!', '/auth/facebook') %>
        <% end %>
       </div>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>
  
</html>
