<!DOCTYPE html>
<html>
  <head>
    <title>SampRailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav>
    <h1>Seattle Area Muslim Parents' guide for events</h1>
      <div>
      <%= link_to "Home", root_path %>
        <% if logged_in %>
            <%= link_to "Profile", user_path(current_user) %>
            <%= link_to 'Logout', logout_path(current_user), :method => :delete %>
            <%= link_to "Add an Event", new_event_path(@event) %>
           
        <% else %>
            <%= link_to "Login", login_path %> 
            <%= link_to "Signup", new_user_path %>
            <%= link_to('Signup/Login with Facebook!', '/auth/facebook') %>
        <% end %>
      </div>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
